# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse shit
.project
.cproject
.settings
.metadata/

#CMake things
CMakeCache.txt
Makefile
CMakeFiles/
Debug/
bin/
cmake_install.cmake
